.main-bg{
  background-image: url(./img/main.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.nav-link img{
  max-width: 100%;
  max-height: 100%
}

.cups{
  width: 100%;
  height: auto
}

.header-brand img{
  width: 210px;
}

.header .nav-item{
  padding: 18px 14px;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #888;
  border: 1px solid transparent;
  border-bottom: none;
  border-top: 3px solid transparent;
}

#highlighted .overlay{
  background-position: center bottom;
  background-attachment: fixed;
}
